@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --background: #fefefe;
  --foreground: #131313;
  --card: #ffffff;
  --card-foreground: #131313;
  --popover: #ffffff;
  --popover-foreground: #131313;
  --primary: #7b1e3a;
  --primary-foreground: #fefefe;
  --secondary: #f8f8f8;
  --secondary-foreground: #343434;
  --muted: #f8f8f8;
  --muted-foreground: #8d8d8d;
  --accent: #f8f8f8;
  --accent-foreground: #343434;
  --destructive: #d45345;
  --destructive-foreground: #d45345;
  --border: #ebebeb;
  --input: #ebebeb;
  --ring: #7b1e3a;
  --chart-1: #d36c32;
  --chart-2: #3ca6d6;
  --chart-3: #4c77ca;
  --chart-4: #e9b13b;
  --chart-5: #e49c35;
  --radius: 0.625rem;
  --sidebar: #fefefe;
  --sidebar-foreground: #131313;
  --sidebar-primary: #343434;
  --sidebar-primary-foreground: #fefefe;
  --sidebar-accent: #f8f8f8;
  --sidebar-accent-foreground: #343434;
  --sidebar-border: #ebebeb;
  --sidebar-ring: #b3b3b3;
}

.dark {
  --background: #131313;
  --foreground: #fefefe;
  --card: #131313;
  --card-foreground: #fefefe;
  --popover: #131313;
  --popover-foreground: #fefefe;
  --primary: #a33c59;
  --primary-foreground: #131313;
  --secondary: #3f3f3f;
  --secondary-foreground: #fefefe;
  --muted: #3f3f3f;
  --muted-foreground: #b3b3b3;
  --accent: #3f3f3f;
  --accent-foreground: #fefefe;
  --destructive: #8b3d28;
  --destructive-foreground: #e97c69;
  --border: #3f3f3f;
  --input: #3f3f3f;
  --ring: #a33c59;
  --chart-1: #5a70e2;
  --chart-2: #3fbf91;
  --chart-3: #e49c35;
  --chart-4: #7c4dd8;
  --chart-5: #c24a52;
  --sidebar: #343434;
  --sidebar-foreground: #fefefe;
  --sidebar-primary: #5a70e2;
  --sidebar-primary-foreground: #fefefe;
  --sidebar-accent: #3f3f3f;
  --sidebar-accent-foreground: #fefefe;
  --sidebar-border: #3f3f3f;
  --sidebar-ring: #6a6a6a;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
